{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>Deportes</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<body>

	<div class="p-3">
		<br>
		<h1>Listado de deportes con sus articulos</h1>
		<br>
		<hr>

		<div>
	        
	        <table class="table">
	            <thead>
	                <tr>
	                    <th>Articulo</th>
	                    <th>Deporte</th>
	                    <th>Imagen</th>
	                </tr>
	            </thead>
	            {% for deportes in listado_deportes %}
	            <tbody>
	                <td>{{ deportes.articulo }}</td>
	                <td>{{ deportes.deporte }}</td>
	                <td><img src="{{ deportes.imagen }}"></td>
	            </tbody>
	            {% endfor %}
	        </table>
	        
	    </div>
	</div>
	

</body>

{% endblock content %}